name: Android CI

on:
  workflow_dispatch:
    inputs:
      install_android:
        description: 'Install Android SDK?'
        required: true
        default: false
        type: boolean

jobs:
  build:
    name: Build APKs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-type: [debug]
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      #- name: Copy CI gradle.properties
      #  run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties
        
      - name: Give permission to executable
        run: chmod +x gradlew

      - name: Setup Android SDK
        if: ${{ inputs.install_android == true }}
        uses: android-actions/setup-android@v3


      - name: Accept licenses
        if: ${{ inputs.install_android == true }}
        run: yes | sdkmanager --licenses || true
        
      - name: Generate APK
        run: ./gradlew assemble${{ matrix.build-type }}

      - name: Upload APK
        uses: actions/upload-artifact@master
        with:
          name: app-${{ matrix.build-type }}
          path: app/build/outputs/apk/${{ matrix.build-type }}/app-${{ matrix.build-type }}.apk
